

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    background-image: 
    url("https://intoroigiare.vn/wp-content/uploads/2023/11/hinh-anh-background-dep.jpg");
    display:flex;
    background-size: cover;
    align-self: center;
    justify-content: center;
    flex-direction: column;

}

body .main_box{
    width:40%;
    height:95%;
    display:flex;
    align-self: center;
    border:10px solid;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    border-image:  linear-gradient(to top, #afc06d ,#528a75 , #9d3c5c) 1;
}

.main_box .content{
    display:flex;
    margin-top: 10px;
    width:100%;
    height:10%;
    /* border:1px solid #3bce2a; */
    justify-content: center;
    color: rgb(148, 146, 144);
    position: relative;
    top: -5px;
    font-size: 30px;
    font-family:Georgia;   
    order:1;
}
.main_box  .main_box1 {
    /* border:1px solid #42ac4f; */
    height:120px;
    width:30%;
    order: 2;
    position: relative;
    top:20px;
    right:-200px;
}
.main_box  .main_box1 img{
    position: relative;
    right: -40px;
}
.main_box  .main_box2 {
    /* border:1px solid #42ac4f; */
    height:60px;
    width:50%;
    order: 3;
    position: relative;
    top:100px;
    right:-150px;
    border-radius: 20px;
}
.main_box  .main_box2 input {
    height:100%;
    width:100%;
    border-radius: 20px;
    border:3px solid #42ac4f;
    outline:none;
    padding-left: 50px;
    font-size: 20px;
    top:-45px;
    position: relative;
}
.main_box  .main_box2 .bi{
  position:relative;
  top:-90px;
  left:1px;
  font-size: 30px;
  color: rgb(63, 54, 54);
}

.main_box  .main_box3 {
    /* border:1px solid #42ac4f; */
    height:60px;
    width:50%;
    order: 4;
    position: relative;
    top:120px;
    right:-150px;
}
.main_box  .main_box3 .bi{
    position:relative;
    top:-90px;
    left:1px;
    font-size: 30px;
    color: rgb(63, 54, 54);
  }
.main_box  .main_box3 input {
    height:100%;
    width:100%;
    border-radius: 20px;
    border:3px solid #42ac4f;
    outline:none;
    padding-left: 50px;
    font-size: 20px;
    position: relative;
    top:-45px;
}
.main_box  .main_box4 {
    height:100px;
    width:400px;
    /* border:4px solid #94afed; */
    order: 5;
    position: relative;
    top:160px;
    right: -100px;
    border-radius: 22px;
   
}
.main_box  .main_box4 button{
    height:100%;
    width:100%;
    border-radius: 20px;
    cursor: pointer;
    border:none;
    font-size: 40px;
    font-family: monospace;
    color: #ffffff;
    background:none;
    background-color: rgb(118, 165, 165);
    transition: 0.5s linear ;
}  
.main_box  .main_box4 button:hover{
  font-size: 41px;
  transform: scale(0.9);	
}  
.main_box  .main_box5 {
   order:6;
   height:100px;
   border:1px solid;
   position: relative;
   top:165px;
}  
.main_box  .main_box5 .s{
    height:100%;
    border:1px solid ;

}  
 



